
  <p><a href="/" id="home-link">Home</a></p>
  
  
  <div class="container" id="comedians-container">
	  <div class="row">
		<div class="col text-center" id="comedians-page-header">
      Comedians
		</div>
		<br>
		<br>
	  </div>
	</div>
	  
	<div class="container" id="statistics-box">
	  <div class="row">
		<div class="col text-center" id="statistics-header">
		  Statistics
		</div>
	  </div>
	  <div class="row" id="info">
		<div class="col text-center">
			<b>average special runtime</b>
		</div>
		<div class="col text-center">
		  <b>total tv specials</b>
		</div>
		<div class="col text-center">
		  <b>average age</b>
		</div>
		<div class="col text-center">
		  <b>cities</b>
		</div>
	  </div>
	  
	  <div class="row" id="info">
      <div class="col text-center" id="average-length">
        %num
      </div>

      <div class="col text-center"  id="total-specials">
        <%= @specials.count %>
      </div>

      <div class="col text-center"  id="average-age">
        %num
      </div>

      <div class="col text-center">
        <div class="container">
          <div class="row">
            <div class="col text-center" id="cities-list">
            <% @cities_list.each do |city| %>
              <div class="row text-center"><%= city %></div>
            <% end %>
            </div>
          </div>
        </div>
		  </div>
    <!--ROW -->
	  </div>

    <!--div class="container">
      <div class="row" id="chart">
        <svg class="bar-chart"></svg>
      </div>
    </div-->

	</div>

<div class="container" id="comedian-info-tabs">
  <% @comedians.each do |comedian|%>
    <div class="container" id="comedian-all-rows">
      <div class="row" id="comedian-rows">

        <div class="col-md-1">
          <img class="portait" src="<%= comedian.picture_url %>" alt="">
        </div>

        <div class="col-md-5">
          <h1><%= comedian.name %></h1>
        </div>

        <div class="col-md-1">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#info<%="#{comedian.id}"%>">Info</button>
        </div><!--button-->

        <div class="col-md-1 offset-md-1">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#specials<%="#{comedian.id}"%>">Specials</button>
        </div><!--button-->

        <!--INFO button-->
        <div id="info<%="#{comedian.id}" %>" class="collapse">
          <div class="row">
            </br>
            <div class="col">
            
              <div class="row text-center">
                <% @verb = "aged" %>
                <% if comedian.deceased? == "true"%>
                <%  @verb = "died" %>
                <% end %>
                <span id="comedian-age"><%= @verb %>: <%= comedian.age %></span>
              </div>

              <div class="row text-center">
                <% @verb = "resides" %>
                <% if comedian.deceased? == "true"%>
                <%  @verb = "resided" %>
                <% end %>
                <span id="comedian-city"><%= @verb %>: <%= comedian.city %></span>
              </div>

              <div class="row text-center">
                <span id="comedian-deceased">
                <% if comedian.deceased? == "true" %>
                  <%= "deceased" %>
                <% end %>
                </span>
              </div>

              <div class="row text-center">
                <span id="comedian-disgraced">
                <% if comedian.disgraced? == "true" %>
                  <%= "disgraced"%>
                <% end %>
              </div>

            </div><!--row-->
          </div><!--col-->
        </div><!--INFO button-->

      
        <!--SPECIALS button-->
        <div id="specials<%="#{comedian.id}" %>" class="collapse">
          <div class="row"><!--specials-->
            <br>
            <% comedian.specials.each do |special|%>
              <div class="col text-center" id="comedian-specials">
                  <a href="<%= special.watch_now_url %>" >
                    <img src="<%= special.image_url %>" alt="<%= special.name %>-img">
                  </a>
              </div>
            <% end %>

          </div><!--row-->
        </div><!--SPECIALS button-->

      <% end %>
      </div>
    </div>
  </div>
</div>
