  <div class="container">
	  <div class="row">
		<div class="col text-center" id="comedians-page-header">
      Comedians
		</div>
		<br>
		<br>
	  </div>
	</div>
	  
	<div class="container" id="statistics-box">
	  <div class="row">
		<div class="col text-center" id="statistics-header">
		  Statistics
		</div>
	  </div>
	  <div class="row" id="info">
		<div class="col text-center">
			<b>avg special runtime</b>
		</div>
		<div class="col text-center">
		  <b>total tv specials</b>
		</div>
		<div class="col text-center">
		  <b>average age</b>
		</div>
		<div class="col text-center">
		  <b>cities</b>
		</div>
	  </div>
	  
	  <div class="row" id="info">
      <div class="col text-center" id="average-length">
        <%= @average_length%>
      </div>

      <div class="col text-center"  id="total-specials">
        <%= @total_specials %>
      </div>

      <div class="col text-center"  id="average-age">
        <%= @average_age %>
      </div>

      <div class="col text-center">
        <div class="container" id="cities-list">
          <div class="row">
            <div class="col text-center">
            <% @cities_list.each do |city| %>
              <div class="row"><%= city %></div>
            <% end %>
            </div>
          </div>
        </div>
		  </div>
    <!--ROW -->
	  </div>
	</div>

  <!--div class="container">
    <div class="row" id="chart">
      <svg class="bar-chart"></svg>
    </div>
  </div-->

    <% @comedians.each do |comedian|%>
      <div class="row" id="comedian">
      <div class="container">
          
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo<%="#{comedian.id}"%>"> 
            <%= comedian.name %>
          </button>
          
          <div id="demo<%="#{comedian.id}" %>" class="collapse">
          
          <div class="row">
            <div class="col">
              <%= comedian.name %>
              <div class="row text-center">
                <span id="comedian-age"><%= comedian.age %></span>
              </div>

              <div class="row text-center">
                <span id="comedian-city"><%= comedian.city %></span>
              </div>
            </div>
            <!-- end BIO row -->

            <!-- specials thumb -->
            Specials
            <div class="col text-center">
              <% comedian.specials.each do |special|%>
                <span id="comedian-specials">
                  <img src="<%= special.image_url %>" alt="<%= special.name %>-img">
                </span>
              <% end %>
            </div>
          </div>

          </div>
        <% end %>
        </div>
      </span>
    </div>
  </div>